{% include 'global/base.html' %}

<div class="register-form-container-container">
	<div class="register-form-container">
		<div class="register-form-aux-container">
			<div class="register-form-title">
				<h2 class="register-form-title-text">Faça seu Cadastro</h2>
			</div>
			<form action="" method="POST">
				{% csrf_token %}
				<div class="register-form-box">
					<div class="form-text-inputs">	
						{% for field in form %}
							<div class="form-field-container">
								{{ field.label }}
								<div class="register-form-field">
									{{ field }}
									{{ field.errors }}
								</div>
							</div>	
						{% endfor %}
					</div>
					<div class="register-form-errors">
						<p class="errors-list">
							{% if form.non_field_errors %}
								{% for error in form.non_field_errors %}
									{{error}}
								{% endfor %}
							{% endif %}
						</p>
					</div>
					<div class="register-form-button-container">
						<input class="form-input-container" type="submit" value="Registrar">
					</div>
					<div class="register-form-redirect">
						<p>Já tem uma conta? </p><a class="login-link-button" href="{% url 'authors:login'%}">Faça login aqui.</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
